p {
	font-style: italic;
	font-family: Helvetica, sans-serif, Verdana;
	color: green;
}
li {
	color : blue;
}
li.bli {
	font-style: oblique;
	color: black;
}
div {
	width: 600px;
	height: 100px;
	margin: 15;
	padding: 15;
	border: outset;
	color: #581616;
}
#bmessage {
	color: yellow;
	font-family: Times New Roman;
	font-style: normal
}